<% provide(:title, "Help") %>
<div class="row">
    <h1>If you are here you have questions</h1>
    
    <h3>Need to know</h3>
        <ul>
            <li>You search <strong>ALL</strong> articles on the home page, only articles under each category are searched under the respective category pages.</li>
            <li>You must be logged in to publish and update articles.</li>
            <li>Only the admin can add categories and helpful links, if you want new ones added just let me know.</li>
            <li>Any one can edit articles, even if they didn't create them.</li>
        </ul>
    
    <h3>Posting Articles</h3>
    
        <p>
        It is a good idea to include some tags at the bottom of the article to improve the chance of finding the article in the search.
        </p>
    
    <h3>Things I'm Working on</h3>
        <ul>
            <li>Picture uploads in posts.</li>
            <li>Expandable category tree.</li>
            <li>Tags field in the new article form. Then the tags will be a hidden field in the article show page.</li>
        </ul>
    <br>
    <div>
      <%= link_to "Contact", contact_path %> me if you have other questions.
    </div>
    
</div>