<% provide(:title, "Help") %>
<div class="row">
    <h1>If you are here you have questions</h1>
    
    <h3>Need to know</h3>
        <ul>
            <li>Only the admin can add categories, if you want a new category added just let me know.</li>
            <li>Any one can edit articles, even if you didn't create it.</li>
        </ul>
    
    <h3>Posting Articles</h3>
    
        <p>
        It is a good idea to include some tags at the bottome of the article to improve the chance of finding the article in the search.
        </p>
    
    <h3>Things I'm Working on</h3>
        <ul>
            <li>Picture uploads in posts.</li>
            <li>Expandible category tree</li>
            <li>Search on the category pages.</li>
        </ul>
</div>