<% provide(:title, "Article Edit") %>
<% provide(:button_text, 'Save changes') %>
<h1>Update the Article</h1>

<div class="row">
  <div class="col-md-9 col-md-offset-2">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Back to Article', @article %>
