<% provide(:title, "New Article") %>
<% provide(:button_text, 'Submit') %>

<h1>New Knowledge</h1>

<div class="row">
    <div class="col-md-9 col-md-offset-2">
      <%= render 'form' %>
    </div>
</div>