<% provide(:title, "Article" ) %>
<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>

<div class="jumbotron article_show">
 
  <%= sanitize @article.content %>

</div>

<% if logged_in? %>
<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-warning btn-sm" %>
<% end %>