<% provide(:title, "Categories") %>

<h1>Categories</h1>

<% if logged_in? %>
<div class="new_link">
  <%= link_to 'New Category', new_category_path, class: "btn btn-warning btn-sm" %>
</div>
<% end %>

<div class="row">
  <div>
    <% if @categories.any? %>
      <ol class="cat_helpful_index">
        <%= render @categories %>
      </ol>
    <% end %>
  </div>
</div>