<h3>Helpful Links</h3>

<ul>
  <% @helpful_links.each do |link| %>
    <li>
      <%= link_to link.name, url_with_protocol(link.url), :target => '_blank' %>
    </li>
  <% end %>
  <li><%= link_to "Linux Wiki", wisdom_path %></li>
</ul>